<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Breezeblocks</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="angular-drag-and-drop-lists.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script type="text/javascript" src="/interact.js/interact.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="/handlebars/dist/handlebars.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    
 <div id="main" ui-view></div>
</body>
</html>
