
#home {
  margin: 0;

  #buttonHolder{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: -160px;
  }
  .homeButton{
    display: inline-block;
    color: white;
    font-size: 16pt;
    text-align: center;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0 auto;
    &:hover{
      transition: .2s;
      border: 2px solid #0dd;
      color: #0dd;
      cursor: pointer;
    }
  }
  .black{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 60%;
    margin: 0 auto;
  }

  #my-div-id{
    margin: 0 auto;
    margin-top: -10%;
    display: block;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }

  .bg{

    width: 100vw;
    height: 100vh;
    margin-bottom: -100px;
    background-image: url('/images/sand_sea_sky_palm_trees_nature_tropical_landscape_beautiful_2880x1800.jpg');
    background-size: cover;
  }

  }

  // #homeHolder{
  // 	display: block;
  // 	width: 630px;
  // 	margin: 0 auto;
  // }
  // #homeButtons{
  // 	display: inline-block;
  // 	color: white;
  // 	margin-left: -30px;
  // }
  // .homeButton{
  // 	padding: 20px;
  // 	font-size: 20px;
  // 	border: 1px solid #DDD;
  // 	border-radius: 5px;
  // 	width: 200px;
  // 	background: white;
  // 	color: #444;
  // 	margin-bottom: 20px;
  // 	cursor: pointer;
  // 	&:hover{
  // 		background: #DDD;
  // 	}
  // }


