.projectListItem{
	display: inline-block;
	width: 250px;
	color: black;
	border: 1px solid #DDD;
	padding: 10px;
	background-color: white;
	cursor: pointer;
}

.project-blade{
	width: 80%;
	margin: 0 auto;
	button{
		margin: 10px;
		margin-left: 0px;
	}
}