<!-- <pre>{{user | json}}</pre> -->

<ui-view>
	<div class = "thin">
	<h1>P A G E S</h1>
	<hr>
		<div class="project-block" ng-repeat= "project in user.projects">
			<div class="projectListItem" ui-sref='userDash.project({id: user._id, projectId: project._id})'>{{project.title}}</div>
			<div class="delete-holder"><span class="glyphicon glyphicon-trash" ng-click="deleteProject(project._id)"></span></div>
			</br>
		</div>
	</br>
	
	<button class="bottomButton project-button" ng-click="createNewProject()">Create a New Project</button>
	</div>
</ui-view>