<!-- <pre>{{project|json}}</pre> -->
<div class="edit-container">
<!-- <ui-navbar></ui-navbar> -->
	<h3 id="Title" ng-bind="project.title"></h3>

	<div id="elements" class="edit-blade col-md-2 col-sm-2">

		<div id="elementsContainer">
			<div class="thumbHolder">
			<ui-thumbnail background="'images/box.png'" component="DropArea" id="dropThumb"></ui-thumbnail>
			</div>
			<!-- this should really be an ng-repeat! -->

	<!-- 		<div class="thumbHolder">
			<ui-thumbnail style= "height: 75px; width: 75px; display: block" component="uiLibrary.Navbar" id="elemThumb"></ui-thumbnail>
			</div >

			<div class="thumbHolder">
			<ui-thumbnail style= "height: 75px; width: 75px; display: block; background-size: cover" component="uiLibrary.Image" id="elemThumb"></ui-thumbnail>
			</div> -->
			<div class = "thumbHolder" ng-repeat="thumbnail in thumbnails">
			<ui-thumbnail background="thumbnail.backgroundImage" component="thumbnail.component" id="elemThumb"></ui-thumbnail>
			</div>
				<div id="checkboxcontainer"><input type="checkbox" ng-model="showDropZones" checked="checked"></input>Show Drop Zones</div>
		</div>

		<div id="bottomButtonContainer block">
			<div class="bottomButton" ui-sref="userDash({id: user._id})">Project List</div>
			<div class="bottomButton" ui-sref="home">Breezeblocks Home</div>
			<div class="bottomButton" ui-sref="home" ng-click="logout()">Log Out</div>
		</div>
	</div>

	<div id="outer-canvas" class="edit-blade col-md-8 col-sm-8">
			<!-- <ui-drop-area class="drop-area ng-class:'getClass()'"></ui-drop-area> -->
			<!-- <pre>{{parseTree|json}}</pre> -->
		<div id="app">
			<div ng-repeat="View in project.html" class='{{View.className.join(" ")}}' ng-class="{dropBorder: showDropZones}"
				style='{{convertObjToInlineStyle(View.className[1])}}'
				ng-include='"js/common/directives/ui-components/ui-drop-area/ui-drop-area.html"'
			></div>
		</div>
	</div>


	<div id="style" class="edit-blade col-md-2 col-sm-2">
		<!-- edit props: -->
		<pre>activeHTMLEdit{{activeHTMLEdit | json}}</pre>
<!-- 		<pre>activeCSSEdit {{activeCSSEdit | json}}</pre>
		<pre>activeHTMLEdit {{activeHTMLEdit | json}}</pre> -->
		<div id="controlsContainer" >
			<div id="propsContainer" ng-if='currentlySelected'>
				<nav-or-text-edit ng-if="(activeHTMLEdit.type === 'Navbar')||(activeHTMLEdit.type === 'Text')"></nav-or-text-edit>
				<image-edit ng-if="activeHTMLEdit.type === 'Image'"></image-edit>
				<list-view-edit ng-if="(activeHTMLEdit.type === 'ListView')||(activeHTMLEdit.type === 'ScrollView')"></list-view-edit>
				<map-view-edit ng-if="activeHTMLEdit.type === 'MapView'"></map-view-edit>
				<slider-ios-edit ng-if="activeHTMLEdit.type === 'SliderIOS'"></slider-ios-edit>
				<switch-ios-edit ng-if="activeHTMLEdit.type" === 'SwitchIOS'></switch-ios-edit>
				<tab-bar-ios-edit></tab-bar-ios-edit>
			</div>
			<css-style></css-style>
		</div>

		<div id="bottomButtonContainer">
			<div class="bottomButton left" ng-click = "saveProject(project)">Save Project</div>
			<div class="bottomButton right" ng-click="exportProject(project, user)">Export Project</div>
		</div>
		<span ng-show="showConfirm"> Saving...</span>

	</div>
	<pre> {{cssTree | json }} </pre>
	<pre class = "col-md-6"> {{project | json}} </pre>
</div>