<!-- <pre>{{project|json}}</pre> -->
<div class="container edit-container" style = "padding: 0">
<!-- <ui-navbar></ui-navbar> -->
	<h3 ng-bind= "project.title"></h3>
	<div id="elements" class="edit-blade col-md-2 col-sm-2">
		<ui-thumbnail style= "height: 75px; width: 75px; display: block" component="uiLibrary.Navbar" id="elemThumb"></ui-thumbnail>
		<ui-thumbnail style= "height: 75px; width: 75px; display: block; background-size: cover" component="uiLibrary.DropArea" id="dropThumb"></ui-thumbnail>
		<ui-thumbnail style= "height: 75px; width: 75px; display: block; background-size: cover" component="uiLibrary.Image" id="elemThumb"></ui-thumbnail>
	</div>
	<div id="outer-canvas" class="edit-blade col-md-8 col-sm-8">
			<!-- <ui-drop-area class="drop-area ng-class:'getClass()'"></ui-drop-area> -->
			<!-- <pre>{{parseTree|json}}</pre> -->
		<div id="app">
			<div ng-repeat="View in project.html" class='{{View.className.join(" ")}}'
				style='{{convertObjToInlineStyle(View.className[1])}}'
				ng-include='"js/common/directives/ui-components/ui-drop-area/ui-drop-area.html"'
			></div>
		</div>
		<pre class = "col-md-6" spacing="default"> Css Tree {{cssTree | json}}</pre>
		<pre class = "col-md-6" spacing="default"> THE WHOLE DAMN PROJECT {{project | json}}</pre>
	</div>


	<div id="style" class="edit-blade col-md-2 col-sm-2">
		edit props:
		<pre>CSS OBJECT {{activeCSSEdit | json}}</pre>
		<pre>HTML OBJECT {{activeHTMLEdit | json}}</pre>
		<input type="text" ng-model="project.title" placeholder = "Change Title of Project"></input>
		<input type="button" value="delete this parent" ng-click="removeRow()"></input></br>
		<input type="button" value="delete this" ng-click="deleteElem()"></input></br>
		<!-- <pre spacing="default">{{properties | json}}</pre> -->


		<form name="properties">
		<label>change property</label>
		<textarea ng-model="activeHTMLEdit.props[0].value"></textarea>
		<label>Background Color</label>
		<input type="color" ng-model='activeCSSEdit["background-color"]'></br></br>
		<label>Padding!</label>
		<input type="range" ng-model="activeCSSEdit['padding']">
		<label>Margin</label>
		<input type="range" ng-model="activeCSSEdit['margin']">
		<label>FlexGrowSize</label>
		<input type="button" value="-" ng-click="lessFlex()" ng-model= "activeCSSEdit['flex-grow']"><input type="button" value="+" ng-click="moreFlex()"  ng-model= "activeCSSEdit['flex-grow']">
		</form>
		<button class = "btn btn-info" ng-click = "saveProject(project)">Save Project</button>
		<button class= "btn btn-danger" ng-click="exportProject(project, user)">Export Project</button>
	</div>
</div>