#login-form {
  width: 100%;
  margin: 0 auto;
  .oauth {
  		margin-top: 10px;
		max-width: 18em;
	}
	.btn-social{
		text-align: center;
		width: 100%;
	}
}

.thin{
	width: 60%;
	padding: 20px;
	margin: 20px auto;

}