.ui-navbar{
	flex-grow: 1; 
	display: flex; 
	flex-direction: column; 
	width: 100%; 
	font-size: 17px;
	justify-content: center;
	background: #EFEFEF;
	max-height: 48px;
	border-bottom: 1px solid #DDD;
	color: #222;
	h5{
		text-align: inherit;
		font-size: inherit;
	}
}

.ui-switchios{
	max-width: 60px;
	justify-content: center;
	display:flex;
	align-items: center;
	padding-top: 8px;
}
.ui-text{
	color: Black;
	font-size: 17px;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 10px;
	h5{
		text-align: inherit;
		font-size: inherit;
	}
}

.ui-listview{
	display: flex;
	overflow: auto;
	flex-direction: column;
	padding: 10px;
	font-size: 17px;

	div{
		text-align: inherit;
		color: inherit;
		padding: 10px;
		font-size: inherit;
	}
}

.ui-scrollview{
	overflow-y: hidden;
	height: inherit;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	img{
		display: inline-block;
		height: inherit;
		padding: 5px;
	}
}

.rangeHolder{
	display: flex;
	align-items: center;
	padding: 10px;
	flex-grow: 1;
}

.ui-sliderios{
	display: flex;
	flex-grow: 1;
	height: 100%;
	align-self: center;


	input[type=range] {
	  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	}

	input[type=range]::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  border: 1px solid #AAA;
	  height: 20px;
	  width: 20px;
	  border-radius: 40px;
	  background: #ffffff;
	  cursor: pointer;
	  margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	  box-shadow: 1px 1px 1px rgba(255,255,255,0.3)
	}

	input[type=range]::-webkit-slider-runnable-track {
		  height: 4px;
		  cursor: pointer;
		  background: #aaa;
		  margin-top: -5px;
		  border-radius: 10px;
		  border: 0.2px solid #010101;
	}


}

.ui-image{
	align-items: stretch;
	display: flex;
	background-size: cover; 
	flex-grow: 1;
}
