


// #tools{
// 	border: 1px solid black;
// }

.edit-container{
	margin: 0 auto;
	height: 100%;
	background-color: #444;
	border: 1px solid #222;
}

.edit-blade{
	background-color: #444;
	color: #ddd;
	height: 100%;
	padding: 0px;
}

#controlsContainer{
	padding: 10px;
}

#elementsContainer{
	padding: 10px;	
	display: inline-block;
}

.blueLabel{
	color: #0dd;
}

#Title{
	background-color: #333;
	padding: 10px;
	color: #0dd;
	margin: 0px;
}

#app{
	flex-direction: column;
	box-shadow: 0 0 10px #000000;
	z-index: 0;
	width: 300px;
	height: 533px;
	margin: 40px auto;
	background: white;
	display: flex;
	overflow: auto;
}

input{
	color: #000;
}

#outer-canvas{
	z-index: 0;
	background-image: url('/images/grey_wash_wall.png');
	box-shadow: inset 0 0 10px #000000;
	height: 100%;
}



#bottomButtonContainer{
	display: flex;
	align-self: flex-end;
	padding: 0px;
	margin: 0px;
}


.bottomButton{
	border: 1px solid #222;
	flex-grow: 1;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	margin: 0px;
	background-color: #333;
}

.block{
	display: block;
}
.bottomButton:hover{
	background-color: #444;
}


.drop-area{
	display: flex;
	min-height: 20px;
	flex-direction: row;
	box-sizing: border-box;
	z-index: 1;
	align-items: center;
	border: 2px dashed #0DD;
}

.thumbHolder{
	margin: 4px;

}
ui-thumbnail{
	width: 50px;
	height: 50px;
	border: 2px solid #0dd;
	border-radius: 4px;
	position: relative;
	z-index: 4;
	display: block; 
	background-size: cover;
}

.shadow{
	box-shadow: 0 0 10px 2px #000000;
	z-index: 50;
	transition: .2s;
}

.ui-navbar{
	flex-grow: 1; 
	display: flex; 
	flex-direction: column; 
	width: 100%; 
	font-size: 20pt;
	align-items: center; 
	justify-content: center;
	background: #EFEFEF;
	max-height: 48px;
	border-bottom: 1px solid #DDD;
	color: #222;
	h5{
		font-size: 17px;
	}
}

.ui-switchios{
	max-width: 60px;
	justify-content: center;
	padding-top: 8px;
}
.ui-text{
	color: Black;
	font-size: 20pt;
	padding: 10px;
	h5{
		font-size: 17px;
	}
}
.rangeHolder{
	display: flex;
	align-items: center;
	height: 30px;
	padding: 10px;
	flex-grow: 1;
}
.ui-sliderios{
	display: flex;
	flex-grow: 1;
	height: 100%;
	align-items: center;

	input[type=range] {
	  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	  	width: 100%; /* Specific width is required for Firefox. */
	}

	input[type=range]::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  border: 1px solid #AAA;
	  height: 20px;
	  width: 20px;
	  border-radius: 40px;
	  background: #ffffff;
	  cursor: pointer;
	  margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	  box-shadow: 1px 1px 1px rgba(255,255,255,0.3)
	}

	input[type=range]::-webkit-slider-runnable-track {
		  height: 4px;
		  cursor: pointer;
		  background: #aaa;
		  margin-top: -5px;
		  border-radius: 10px;
		  border: 0.2px solid #010101;
	}


}


.ui-image{
	display: flex;
	background-size: cover; 
	flex-grow: 1;
}

.appear{
	opacity: 1
}

.delete-view{
	position: absolute; 
	z-index: 100; 
	margin-left: -50px; 
	border: none; 
	opacity:0
}
