


// #tools{
// 	border: 1px solid black;
// }

.edit-container{
	margin: 0 auto;
	height: 100%;
	background-color: #444;
	border: 1px solid #222;
}

.edit-blade{
	background-color: #444;
	color: #ddd;
	height: 100%;
	padding: 0px;
}

#controlsContainer{
	padding: 10px;
}

#elementsContainer{
	padding: 10px;	
	display: inline-block;
}

.blueLabel{
	color: #0dd;
}

#Title{
	background-color: #333;
	padding: 10px;
	color: #0dd;
	margin: 0px;
}

#app{
	flex-direction: column;
	box-shadow: 0 0 10px #000000;
	z-index: 0;
	width: 300px;
	height: 533px;
	margin: 40px auto;
	background: white;
	display: flex;
	overflow: auto;
}

input{
	color: #000;
}

#outer-canvas{
	z-index: 0;
	background-image: url('/images/grey_wash_wall.png');
	box-shadow: inset 0 0 10px #000000;
	height: 100%;
}


.thumbHolder{
	height: 75px;
	margin: 3px;
}

#bottomButtonContainer{
	display: flex;
	align-self: flex-end;
	padding: 0px;
	margin: 0px;
}


.bottomButton{
	border: 1px solid #222;
	flex-grow: 1;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	margin: 0px;
	background-color: #333;
}

.block{
	display: block;
}
.bottomButton:hover{
	background-color: #444;
}


.drop-area{
	display: flex;
	min-height: 20px;
	flex-direction: row;
	box-sizing: border-box;
	z-index: 1;
	border: 4px dashed lightgrey;
}

ui-thumbnail{
	border: 2px solid #0dd;
	border-radius: 8px;
	position: relative;
	z-index: 4;
}

.shadow{
	box-shadow: 0 0 10px 2px #000000;
	z-index: 50;
	transition: .2s;
}

.ui-navbar{
	flex-grow: 1; 
	display: flex; 
	flex-direction: column; 
	width: 100%; 
	align-items: center; 
	background: #444;
	color: white;
}

.ui-image{
	display: flex;
	background-size: cover; 
	flex-grow: 1;
}

.appear{
	opacity: 1
}

.delete-view{
	position: absolute; 
	z-index: 100; 
	margin-left: -50px; 
	border: none; 
	opacity:0
}
