
// #tools{
// 	border: 1px solid black;
// }
#app{
	transform: scale(1)
}


accordion{
	*{
		font-size: 8pt;
	}

	.panel-body{
		color: #555;
	}

	.SliderHolder{
	hr{
		margin: 0px;
		padding: 0px;
	}
	p{
		text-align: center;
	}
	display: inline;
	span{
		display: inline-block;
		width: 50px;
	}
	input[type="range"]{
		margin-left: 5px;
		display: inline;
		width: 70%;
	}
}

}

.edit-container{
	margin: 0 auto;
	height: 100%;
	background-color: #444;
	border: 1px solid #222;

}

div[dnd-list]{
	position: relative;
}


.edit-blade{
	background-color: #444;
	color: #ddd;
	height: 100%;
	padding: 0px;
}

#controlsContainer{
	padding: 10px;
}

#elementsContainer{
	padding: 10px;	
	display: inline-block;
}

.blueLabel{
	color: #0dd;
}

#Title{
	background-color: #333;
	padding: 10px;
	color: #0dd;
	margin: 0px;
	margin-top: 0;
}

#app{
	flex-direction: column;
	box-shadow: 0 0 10px #000000;
	z-index: 0;
	width: 300px;
	height: 533px;
	margin: 0px auto;
	margin-top: 10vh;
	background: white;
	display: flex;
	overflow: scroll;
	color: black;
}

input{
	color: #000;
}

#outer-canvas{
	position: relative;
	z-index: 0;
	background-image: url('/images/grey_wash_wall.png');
	box-shadow: inset 0 0 10px #000000;
	height: calc(100vh - 47px);
	overflow: scroll;
}



.bottomButtonContainer{
	display: flex;
	align-self: flex-end;
	padding: 0px;
	margin: 0px;
}

#imageSelect{
	textarea{
		color: #222;
	}
}

.list-view-contain{
	padding-left: 0px;
	li{
		input{
		width: 100%;
		}
	}
}

.slider-ios-edit-box{
	display: flex;
	flex-direction: column;
}

.bottomButton{
	box-sizing: padding-box;
	user-select: none;
	border: 1px solid #232323;
	flex-grow: 1;
	color: #bbb;
	font-size: 9pt;
	cursor: pointer;

	padding: 10px;
	text-align: center;
	margin: 1px;
	background: linear-gradient(to bottom, #555 0%,#333 100%); /* W3C */
	box-shadow: inset 0px 1px 0px #666;
	span{
		font-size:11pt;
	}
	&:hover{
		background: linear-gradient(to bottom, #666 0%,#444 100%);
		box-shadow: inset 0px 1px 0px #888;
	}
	&:active{
		box-shadow: inset 0px 1px 0px #444;
		background: linear-gradient(#333 0%,#353535 100%);
	}
}

.littleButton{
	flex-grow: 0;
	font-size: 9pt;
	width: 40px;
	padding: 4px;
	margin: 0px;
	display: inline;
	span{
		font-size: 9pt;
	}
}

.block{
	display: block;
}
.bottomButton:hover{
	background-color: #444;
}


.drop-area{
	display: flex;
	height: 100px;
	flex-direction: row;
	box-sizing: border-box;
	z-index: 1;

}

.dropBorder{
	border: 2px dashed #0DD;
}


#checkboxcontainer{
	padding: 5px;
	input{
		margin-right: 5px;
	}
	width: 100%;
	font-size: 9pt;
}

input[type=color]{
	-webkit-appearance: none;

	width: 20px;
}
.thumbHolder{
	box-sizing: border-box;
	margin: 4px;
	padding: 6px 0;
	transition: .2s;
	&:hover .description-text{
		transition: .5s;
		opacity: .6;
	}
	&:hover{
		margin-left: 15px;
	}
	ui-thumbnail{
		display: inline-block;
	}
	.description-text{
		position:absolute;
		padding-top: 15px;
		display: inline-block;
		padding-left: 30px;
		letter-spacing: 3px;
		color: white;
		font-weight: 100;
		opacity: 0;
	}
}

.dndDraggingSource{
	display: none !important;
	opacity: .5;
}

.dndDragging{
	box-shadow: none;
	border: none;
}

.dndPlaceholder{
	display: flex;
	flex-grow: 1;
	border: 2px dotted lightgrey;
}

ui-thumbnail{
	width: 50px;
	height: 50px;
	border: 2px solid #0dd;
	border-radius: 4px;
	position: relative;
	z-index: 4;
	display: block; 
	background-size: cover;
}

.shadow{
	box-shadow: 0 0 10px 2px #000000;
	z-index: 50;
}

.x-button{
	font-size: 20pt;
	color: darkgrey;
	cursor: pointer;
	align-self: center;
	margin: 0 auto;
}


.propsContainer{
	background: #555;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 5px;
	font-size: 9pt;

	select{
		color: #222;
	}
	margin-bottom: 0px;
	input[type="number"]{
		width: 30px;
	}
}

.littleLabel{
	padding: 2px;
	margin: 2px;
	text-shadow: 2px 2px 2px #444;
}
.SliderHolder{
	hr{
		margin: 0px;
		padding: 0px;
	}
	p{
		text-align: center;
	}
	display: inline;
	span{
		display: inline-block;
		width: 56px;
	}
	input[type="range"]{
		margin-left: 5px;
		display: inline;
		width: 70%;
	}
}
.appear{
	opacity: 1
}


.delete-view{
	position: absolute; 
	z-index: 100; 
	margin-left: -50px; 
	border: none; 
	opacity:0;
}

.footer{
	color: white;
	position: absolute;
	left: 16.7%;
	bottom: 0%;
	width: 66.6%;
	background: #333;
	font-size: 14pt;
	border-top: 1px solid #222;
	input{
		position: relative;
		bottom: -1px;
		display: inline;
		width: 100px;
		margin: 0px 10px;
		font-size: inherit;

	}
	span{
		font-size: 14px;
		margin-left:-7px;
	}
	.glyphicon{
		font-size: 14px;
		padding: 3px;
		margin-top: -3px;
	}
	#percentage{
		width: 30px;
		position: relative;
		display: inline-block;
		bottom: 2px;
		right: 4px;
	}


}

.tab-selected {
	.tab-span {
		color: blue;
	}
	.tab-p {
		color: blue
	}
}

.tab-span {
	font-size: 18px; 
	color: black
}

.tab-p {
	font-size: 8px; 
	color: black;
}

#elements{
	display: flex;
	height: calc(100vh - 47px);
	flex-direction: column;
	justify-content: space-between;
}
#style {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 47px);
	justify-content: space-between;
}