* {
	border: 1px solid black;
}
// #tools{
// 	border: 1px solid black;
// }
.edit-container{
	width: 100%;
	height: 90vh;
	margin: 0 auto;
}

.edit-blade{
	height: 100%;
}

#app{
	flex-direction: column;
	z-index: 0;
	width: 300px;
	height: 533px;
	margin: 0 auto;
	margin-top: 40px;
	background: white;
	display: flex;
	overflow: auto;
}

#outer-canvas{
	z-index: 2;
	background: #CCC;
}

.drop-area{
	display: flex;
	min-height: 20px;
	flex-direction: row;
	box-sizing: border-box;
	z-index: 1;
	border: 4px dashed lightgrey;
}

ui-thumbnail{
	position: relative;
	z-index: 4;
}