* {

}

body {
  background: #444;
  font-family: Helvetica;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
height: 100%;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'editPage/edit';
@import 'editPage/components';
@import 'userDash/userdash';